<!-- https://github.com/ros-controls/ros_controllers/tree/kinetic-devel/diff_drive_controller/test -->
<launch>
    <!--arg name="model" default="$(env kownbot_MODEL)" doc="model type [kownbot, remo]"/-->
    <arg name="model" default="kownbot" doc="model type [kownbot, remo]"/>
    <arg name="description_package" default="$(eval find(arg('model') + '_description'))" />
    <arg name="urdf_file" default="$(find xacro)/xacro '$(arg description_package)/urdf/$(arg model).urdf.xacro'" />

    <!-- Load the URDF model of kownbot into the ROS Parameter Server -->
    <param name="kownbot/robot_description" command="$(arg urdf_file)" />

    <!-- Run the kownbot_base -->
    <!-- This will create the kownbot hardware interface and instantiate a new controller manager with it -->
    <node name="kownbot_base" pkg="kownbot_base" type="kownbot_base" ns="kownbot" output="screen"/>

    <!-- Load controller config to the parameter server -->
    <rosparam command="load" 
              file="$(find kownbot_control)/config/kownbot_control.yaml"/>

    <!-- Load base config to the parameter server -->
    <rosparam command="load" 
              file="$(find kownbot_base)/config/base.yaml"/>

    <!-- Load the controllers -->
    <!-- This will use the controller manager that got started inside the difbot_base node -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="kownbot" args="joint_state_controller
                                            mobile_base_controller"/>
</launch>
